body
{
    height:2600px
    
}
.slider
{
    background-image: url(imgcut.jpg);
    height: 600px;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;

}
.web
{
    
    text-align: center;
    padding-top: 35%;
}

.web span
{
    color: white;
    padding-bottom: 10px;
    font-size: 50px;
    border-top: 2px;
    border-bottom: 2px;
    border-style: solid;
    border-left: 0px;
    border-right: 0px;
    border-color: white;
}

.buton 
{
    width: 155px;
    margin: auto;
    margin-top:40px;
    
}

.buton button
{
    background-color:rgba(0, 0, 0, 0);
    width:155px;
    height:40px;
    color: #fff;
    border:2px solid #fff;
    border-radius:10px;
    font-size:20px;
    text-transform:capitalize;
    cursor:pointer
}
.buton button:hover
{
    cursor:pointer;
}



.container{
    width:970px;
    margin: auto;
/*    display:flex; */
        
}
.navbar
{
    background-color:#000;
    overflow: hidden;
 
}
.navbar h2
{
    color: white;
    float:left;
    margin-bottom: -3px;
    margin-top: 20px;
}

.navbar h2 span
{
    text-transform: uppercase;
    color: red;
    
}

.navbar ul
{
    font-size: 20px;
    float: right;
    list-style: none;
    text-transform: capitalize;
    
    
    
}

.navbar li
{
    float: left;
    margin-left: 30px;
    color:#ddd;
}

.navbar li:hover
{
    color: red
}
.things div
{
    width:27%;
    float:left;
    height:180px;
    margin:30px;   
}
.things div h2
{
    text-transform:uppercase
}
.nimage
{
    margin-top: 250px;
    overflow:hidden;
    background-clip:padding-box;
    background-color:#a7a7a7; /*  مش شغاااااال */ 
    height:500px;
    
        
}
.nimage img 
{
    float:left;
}


.about-me
{
    width:600px;
    overflow:hidden;
    float:right;
    
}

.for div
{
    float:right;
    width:300px;
    flex-wrap:wrap;
}
.th {margin-top:30px; height:400px;}

.myskills
{
    width:50%;
    float:left;

    
}
.myskills h3
{
    text-transform:uppercase;
}
.myskills button
{
    padding:8px 30px;
    border: 1px solid #000;
    background-color:#fff;
}

.myskills button:hover{cursor:pointer}

.box
{
    border-radius:5px;
    height:20px;
    width:250px;
    background-color:#a7a7a7;
    text-align:right;
  
}
.boxs
{
    float:right;
}
.pho
{
    color:#fff;
    width: 85%;
    border-radius: 5px 3px 3px 5px;
    padding-right: 5px;
    background-color:#0a00ff;
    height:100%
    
}
.js
{
    color:#fff;
    width: 60%;
    border-radius: 5px 3px 3px 5px;
    padding-right: 5px;
    background-color:#0a00ff;
    height:100%
    
}
.hc
{
    color:#fff;
    width: 90%;
    border-radius: 5px 3px 3px 5px;
    padding-right: 5px;
    background-color:#0a00ff;
    height:100%
    
}
.php
{
    color:#fff;
    width: 70%;
    border-radius: 5px 3px 3px 5px;
    padding-right: 5px;
    background-color:#0a00ff;
    height:100%
    
}
.resume
{
    text-align:center;
    background-color:#a7a7a7;
    height:300px;
    justify-content:center;
    align-items:center;
    padding-top:30px
}
.resume h2{text-transform:uppercase;}
.resume button
{
    text-transform:capitalize;
    width:200px;
    height:40px;
    background-color:rgba(0, 0, 0, 0);
    border:2px solid #000;
    margin-top:40px
}
.myeducation
{
    height:200px;
    width:45%;
    overflow:hidden;
    margin-top:30px;
    float:left;
    
}
.myeducation h2
{
    text-transform:uppercase;
}
.jj
{
    float:right;
    overflow:hidden;
    margin:30px;
    width:400px;
    border-bottom:2px solid #a7a7a7;
    padding-bottom:20px;
/*    display:block;*/
}
.jj h2{text-transform:uppercase}

.gpa
{
    background-color:#0a00ff;
    color:#ddd;
    width:70px;
    text-align:center;
    padding:7px;
    font-weight:600;
    border-radius:7px;
    
}
.pp
{
    float:right;
    overflow:hidden;
    display:block;
}





