
.slider
{
    background-image:url(IMG_20200809_230222.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    height:600px;
    
}
.web
{
    padding-top: 28%;
    text-align: center;
}
.web span
{
    border: 1px solid white;
    border-left: 0px;
    border-right: 0px;
    font-size: 30px;
    padding: 10px;
    color: white;
    text-transform: uppercase
}

.buton
{
/*    text-align: center;*/
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.buton button
{
    background-color: #0000;
    height: 40px;
    width: 150px;
    border: 2px solid white;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
}

.buton button:hover {cursor: pointer;}

.container
{
    width:970px;
    margin:auto;
}
.fixedd
{position:relative}

.navbar
{
    background-color:#000000 ;
    color:#ffffff;
    overflow:hidden;
    
    
}


.navbar span {color: #c30000}
.navbar ul
{
    list-style:none;
    float:right;
    overflow:hidden;
}
.navbar li
{
    float:left;
    margin:0 20px;
    font-size:20px;
    text-transform:capitalize;
    margin-top:8px
}
.navbar a:hover
{
    color:#c30000;
    cursor: pointer;
        
}
.navbar a
{
    text-decoration: none;
    color: white
}
.navbar h2 {float:left;}
.features {overflow: hidden; padding: 50px}

.features h2 {text-transform: uppercase; }

.features div div 
{
    float: left;
    width: 33.3333333333333%;
    
}
.features p
{
    line-height: 1.7
}

.bigaboutme
{
    
    color: white;
    overflow: hidden;
    background-color:#000;
    
}
.bigaboutme h2 , .bigaboutme h4
{
    text-align: center;
    color: #c30000;
    text-transform: uppercase;
    font-size: 20px;

}

.bigaboutme h2 {text-align: left;}

.bigaboutme img
{
    width: 400px;
    height: 600px;
    float: left;
        
}

.aboutme 
{
    padding-top: 20px;
    margin-right: 60px;
    width: 60%;
    float: right;
    
    
}

.aba4takanat div

{
    margin-left:60px;
    width: 30%;
    float: right;
    flex-wrap: wrap
}
.ssss
{
    height: 360px;
    background-color: white;
    padding-top: 20px;
}

.myskills
{
    width: 50%;
    float: left;
    
}
.myskills h3 
{
    font-size: 30px;
    text-transform: uppercase;
    color: #c30000;
}
.myskills p {font-size: 20px}

.myskills button
{
    font-size:25px;
    border: 1px solid;
    margin-left: 100px;
    width: 160px;
    height: 50px;
    background-color: white;
    color: #c30000;
}

.myskills button:hover
{
    cursor: pointer;
    background-color: black;
}
.boxs {float: right;height: 360px;}
.box
{
    text-align: right;
    width: 400px;
    background-color: gray;
    height: 30px;
    margin-left: 50px
}
.box div {padding-right: 5px}

.pyth
{
    padding-top: 5px;
    background-color: red;
    height: 82%;
    width:95%;
}
.js
{
    padding-top: 5px;
    background-color: red;
    height: 82%;
    width:60%;
}
.hc
{
    padding-top: 5px;
    background-color: red;
    height: 82%;
    width:80%;
}
.dj
{
    padding-top: 5px;
    background-color: red;
    height: 82%;
    width:50%;
}
.resume
{
    background-color: black;
    color: red;
    height: 300px;
}

.rtitle
{
    padding-top: 50px;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
}
.rcontent
{
    text-align: center;
    color: white;
    padding-top: 30px;
    
}
.dresume
{
    margin-top: 20px;
    margin-left: 44%;
    height: 40px;
    width: 12%;
    border-color: white;
    border-style: solid;
    border-bottom-width: 1px;
    color: red;
    background-color: black;
    
}
